<div class="templates">
    <div class="ui-g">
        <div class="why-templates">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6">
                    <img alt="Why You Should PrimeNG" src="assets/images/why-you-should-ng.jpg">
                    <p>PrimeNG offers premium Angular CLI templates designed by our professional design team and implemented by the PrimeNG team.
                        Various other 3rd party Angular templates are actually ports from other technologies and they bring the burden of a <strong>dependency hell</strong>.
                        PrimeNG templates on the other hand utilize native Angular APIs, distributed as a CLI project, have a single dependency that is PrimeNG featuring top notch quality resulting in easier maintenance and unified look.</p>

                    <p>This blueprint project demonstrates how a premium application template of PrimeNG is implemented. View <a href="https://github.com/primefaces/primeng-blueprint">the source</a> at GitHub for details.</p>
                </div>
                <div class="ui-g-12 ui-md-6">
                <div class="ui-g-12 ui-md-6">
                    <h3>PrimeNG</h3>
                    <hr>
                    <ul>
                        <li>Single Dependency: PrimeNG</li>
                        <li>Developed by a Single Vendor with 10+ Years of UI Expertise</li>
                        <li>Unlimited Free Support and Updates</li>
                        <li>Implemented as a native Angular application</li>
                        <li>Flawless maintenance</li>
                        <li>Updated periodically after PrimeNG / Angular releases</li>
                        <li>Distributed as an Angular CLI Project</li>
                    </ul>
                </div>
                <div class="ui-g-12 ui-md-6">
                    <h3>Others</h3>
                    <hr>
                    <ul>
                        <li>Multiple 3rd Party Dependencies</li>
                        <li>Dependencies from different vendors</li>
                        <li>Paid Support</li>
                        <li>Wrapper of another technology e.g. jQuery</li>
                        <li>Maintenance issues due to dependencies</li>
                        <li>No clear release cycle of updates</li>
                    </ul>
                </div>
                </div>
            </div>
        </div>

        <div class="ui-g-6">
            <a href="https://www.primefaces.org/layouts/babylon-ng">
                <img alt="babylon" src="assets/images/layouts/babylon-ng.jpg">
            </a>
        </div>

        <div class="ui-g-6">
            <a href="https://www.primefaces.org/layouts/olympia-ng">
                <img alt="olympia" src="assets/images/layouts/olympia-ng.png">
            </a>
        </div>
        
        <div class="ui-g-6">
            <a href="https://www.primefaces.org/layouts/california-ng">
                <img alt="california" src="assets/images/layouts/california-ng.png">
            </a>
        </div>

        <div class="ui-g-6">
            <a href="https://www.primefaces.org/layouts/ecuador-ng">
                <img alt="ecuador" src="assets/images/layouts/ecuador-ng.jpg">
            </a>
        </div>

        <div class="ui-g-6">
            <a href="https://www.primefaces.org/layouts/harmony-ng">
                <img alt="harmony" src="assets/images/layouts/harmony-ng.png">
            </a>
        </div>

        <div class="ui-g-6">
            <a href="https://www.primefaces.org/layouts/apollo-ng">
                <img alt="apollo" src="assets/images/layouts/apollo-ng.png">
            </a>
        </div>

        <div class="ui-g-6">
            <a href="https://www.primefaces.org/layouts/serenity-ng">
                <img class="serenity" alt="serenity" src="assets/images/layouts/serenity-ng.jpg">
            </a>
        </div>

        <div class="ui-g-6">
            <a href="https://www.primefaces.org/layouts/avalon-ng">
                <img class="avalon" alt="avalon" src="assets/images/layouts/avalon-ng.jpg">
            </a>
        </div>

        <div class="ui-g-12 ui-md-4">
            <a href="https://www.primefaces.org/layouts/verona-ng">
                <img class="verona" alt="verona" src="assets/images/layouts/verona-ng.png">
            </a>
        </div>

        <div class="ui-g-12 ui-md-4">
            <a href="https://www.primefaces.org/layouts/manhattan-ng">
                <img class="manhattan" alt="manhattan" src="assets/images/layouts/manhattan-ng.png">
            </a>
        </div>

        <div class="ui-g-12 ui-md-4">
            <a href="https://www.primefaces.org/layouts/paradise-ng">
                <img class="paradise" alt="paradise" src="assets/images/layouts/paradise-ng.png">
            </a>
        </div>

        <div class="ui-g-12 ui-md-4">
            <a href="https://www.primefaces.org/layouts/ultima-ng">
                <img class="ultima" alt="ultima" src="assets/images/layouts/ultima-ng.jpg">
            </a>
        </div>

        <div class="ui-g-12 ui-md-4">
            <a href="https://www.primefaces.org/layouts/barcelona-ng">
                <img class="barcelona" alt="barcelona" src="assets/images/layouts/barcelona-ng.jpg">
            </a>
        </div>

        <div class="ui-g-12 ui-md-4">
            <a href="https://www.primefaces.org/layouts/morpheus-ng">
                <img class="morpheus" alt="morpheus" src="assets/images/layouts/morpheus-ng.jpg">
            </a>
        </div>

        <div class="ui-g-12 ui-md-4">
            <a href="https://www.primefaces.org/layouts/atlantis-ng">
                <img class="atlantis" alt="atlantis" src="assets/images/layouts/atlantis-ng.jpg">
            </a>
        </div>

        <div class="ui-g-12 ui-md-4">
            <a href="https://www.primefaces.org/layouts/poseidon-ng">
                <img class="poseidon" alt="poseidon" src="assets/images/layouts/poseidon-ng.jpg">
            </a>
        </div>

        <div class="ui-g-12 ui-md-4">
            <a href="https://www.primefaces.org/layouts/omega-ng">
                <img class="omega" alt="omega" src="assets/images/layouts/omega-ng.jpg">
            </a>
        </div>

    </div>
</div>
